input {
        tcp {
            port => 50504
            type => "xxx"
            id   => "yyy"
            codec => json
            }
    }
    filter {
        if [type] == "xxx" {
                json {
                    source => "message"
                }
    }

    date {
        match => ["time", "yyyy-MM-dd'T'HH:mm:ss.SSSSSSZ", "ISO8601", "MMM  d HH:mm:ss", "MMM dd HH:mm:ss"]
        }
    }

    output {
            elasticsearch {
                    hosts => ["localhost:9200"]
                    user => "elastic"
                    ssl => false
                    password => "{{elastic_password}}"
                    index => "logstash"
                    document_id  => "{{logstash_dup_handler}}"
            }
    }